@import "node_modules/bulma/bulma";
@import "../core/_breadcrumb.sass";
@import "./partials/_navbar.scss";
@import "../core/_helper.scss";

.change-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 10rem;
  img {
    margin-right: 1rem;
  }
}

.cancel-box {
  justify-content: center;
}
