@import "node_modules/bulma/bulma";
@import "./partials/_navbar";


.be-body-bro {
  padding-top: 6rem;
}
.profile-wrapper {
  display: flex;
  // justify-content: space-between;
  .image-photo {
    img {
      border-radius: 50%;
    }
    display: flex;
    margin-right: 1rem;
  }
}
.profil-phone-box, .profil-address-box  {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
