.nav-model-classic {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  width: 100%;
  background: #FFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &.is-active {
    height: 100% !important;
  }

  .wrapper-new-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
    background: #00d1b2 !important;
    z-index: 4;
    justify-content: space-between;

    .left-hamburger {

      display: flex;

      .logo {
        margin-right: 1rem;
      }

      .icon-wrapper {
        transition: 250ms ease all;
        &.is-active {
          margin-top: 10px !important;
          transition: 250ms ease all;
        }

        i {
          color: #FFF !important;
        }
        .default-caret {
          transition: 250ms ease all;
        }

        .caret-is-active {
          transform: rotate(180deg);
        }

      }
    }
    .search-box {
      display: flex;
    }
    .icon-right-wrapper {
      display: flex;
      i {
        color: #fff !important;
        padding-left: 1rem;
      }
    }
  }

  .container-menu-touch {

    transition: 400ms ease all;
    // top: 60px;
    // transform: translateY(2rem);
    top: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    position: absolute;
    z-index: 3;

    .menu-touch {
      display: flex;
      // z-index: 1;
      overflow-y: scroll !important;
      width: 100%;

      .menu-list {
        display: flex;
        flex-direction: column;
        width: 100%;

        li {
          padding: 0.5rem 1rem 0.5rem 1rem;
        }
        li {
          hr {
            padding: 0 1rem 0 1rem !important;
            margin:0 !important;
          }
        }
      }
    }

    &.is-active {
      top: 5.2rem;
    }

  }
}
