@import "node_modules/bulma/bulma";
@import "~sassComponents/NavbarDesktopDefault";
@import "./partials/_navbar";
// @import "../core/_breadcrumb.sass";
// @import "./partials/_navbar.scss";

.be-body-bro {
  @include touch() {
    padding-top: 2rem;
  }
  @include desktop() {
    padding-top: 5rem !important;
  }
}
.change-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 3rem !important;
  img {
    margin-right: 1rem;
  }
}

.cancel-box {
  justify-content: center;
}

.field {
  label {
    font-size: $size-7 !important;
  }
}

.image-photo {
  min-width: 64px;
  img {
    border-radius: 50%;
  }
}
.wrapper-change-photo {
  margin-left: 1rem;
  background-color: $white-bis;
}
