@import "node_modules/bulma/bulma";
@import "~sassComponents/NavbarDesktopDefault";
@import "./partials/_navbar";
@import "~sassComponents/PanelInfo";
@import "~sassComponents/ProductCard";
@import "~sassComponents/ProductCardContainer";

.be-body-bro {
  @include touch() {
    padding-top: 2rem;
  }
  @include desktop() {
    padding-top: 5rem !important;
  }
}
.profil-phone-box, .profil-address-box  {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


// V.2
//

.image-photo {
  border-radius: 50%;
}
div.user-profile {
  display: flex;
  flex-direction: row;

  @include touch() {
    flex-direction: column-reverse !important;

    .user-profile-picture {
      justify-content: center;
      display: flex;
      height: 64px;
      @include touch() {

      }

      img {
        height: 64px !important;
        padding-bottom: 0 !important;
        border-radius: 50%;
      }
    }
  }
}
div.user-detail-profile {

  @include desktop() {
    width: 50%;
  }

  div[class^="user-"] {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    small {
      font-size: $size-7;
    }
    span {
      font-weight: $weight-semibold;
      font-size: $size-6;
    }
  }
}


.panel-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;

  @include touch() {
    flex-direction: column;
  }

  .panel-info {
    width: calc(98% / 2) !important;
    @include touch() {
      width: 100% !important;
      margin-bottom: 1rem;
      &:last-of-type {

      }
    }
    display: flex;

    &:first-of-type {
      margin-right: 1rem;
    }
  }
}

.panel-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-right: 0 !important;
  width: 100%;

  .link-item {
    display: flex;
    width: calc( 100% / 2);
    flex-direction: column;
    text-align: center;
    background-color: $primary;
    padding: 1rem 0;

    span {
      font-size: $size-7;
      color: $white-bis !important;
    }
  }
}

.breadwrapper {
  margin-bottom: 1rem;
}

.summary-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-color: #fafafa;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  align-items: center;
  margin-bottom: 1rem;
}

.order-teaser {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  margin-bottom: 1rem;
  border: 1px solid #fafafa;
  .order-teaser__header {
    background: #fafafa !important;
    width: 100%;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    span {
      font-size: 14px;
    }
  }
  .order-teaser__body {
    display: flex;
    flex-wrap: wrap;
    .order-teaser__product {
      display: flex;
      flex-direction: row;
      padding: 1.5rem 0;
      .order-product-teaser__img {
        img {
          width: 75px;
          height: 75px;
        }
      }
      .order-product-teaser__body {
        .order-product-teaser__title {
          font-size: 0.85rem;
        }
      }
    }
  }
}
