@import "../extentions/badge.sass";

div.navbar-wrapper {
  // Overwrite Navbar Bckground
  background-color: $primary;
  nav.navbar {
    background-color: $primary;
    // Overwrite Navbar Burger
    div.navbar-burger {
      margin-left: 0 !important;
      background-color: $primary;
    }
  }

  // Overwrite Color Down Arrow
  .has-dropdown {
    a.navbar-link {
      color: findColorInvert($primary);
      &:after {
        // border: 1px solid white !important;
        border-bottom: 1px solid findColorInvert($primary);
        border-left: 1px solid findColorInvert($primary);
      }
    }
  }

  // Overide SearchBox
  .long-searchbox {
    width: 20rem !important;
  }

  .dropdown-category {
    margin: 0 1rem;
  }

  // No Effect when hover navbar-item
  .no-hover-change {
    color: white;
    &:hover {
      background: none;
      a.navbar-link {
        background: none;
      }
    }
  }
  .link-no-hover-change {
    background: none;
  }

  // Add Custome Class righ dropdown
  .dropdown-right {
    right: 0;
    left: initial;
  }

  span.navbar-user-fullname {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 8rem;
  }
}

.navbar-item.has-dropdown:hover {
  // background-color: red;
  a.navbar-link {
    background: none;
  }
}
