.mosqito {
  display: flex;
  background-color: darken($primary, 4%);

  .container {

    display: flex;

    ul {

      justify-content: flex-end;
      width: 100%;
      display: flex;
      flex-direction: row;

      li {
        font-size: $size-7;
        padding: 0 1rem;
        a {
          color: #fff;
          font-family: $family-sans-serif;
        }
      }

    }

  }

}
.nav {
  background: $primary;

  @include desktop() {
    height: 4.5rem !important;

    .nav-left {
      display: flex;
      justify-content: center;
    }

    .nav-right {
      display: flex;
      justify-content: left;

      i {
        font-size: 1.5rem !important;
        &.white {
          color: #fff !important;
        }
      }
    }
  }
  .akumaubelanja {
    width: 30rem !important;
  }
}
