.nusa {

  &.swiper-slide {
    margin-top: 10px;
    @include mobile() {
      width: calc(100% / 1) !important;
    };
    @include tablet() {
      width: calc(100% / 2) !important;
    };
    @include widescreen() {
      width: calc(100% / 4) !important;
      .swiper-slide-active {
        margin-left: 10px;
      }
    };
    @include desktop() {
      width: calc(100% / 5) !important;
      .swiper-slide-active {
        margin-left: 10px;
      }
    };
  }

  @include touch() {
    width: calc(100% / 2) !important;
    padding: 0 5px !important;
  };

  @include widescreen() {
    width: calc(100% / 4) !important;
  };

  @include desktop() {
    width: calc(100% / 5) !important;
  };

  width: calc(100% / 1);

  .card {
    margin-bottom: 1rem;
    margin-right: 1rem;

    @include touch() {
      margin-right: 0rem;
    }
    margin-right: 1rem;
  }
}


@include desktop() {
  .swiper-button-next {
    position: absolute;
    top: 50%;
    right: -55px;
  }
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    left: -55px;
  }
}
