@import "node_modules/bulma/bulma";
@import "./_partials/navbar";


.caption-head {
	display: flex;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 1rem;
  justify-content: center;
}
.wrapping {

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

  .swiper-container {
    width: 100% !important;
  }

	.nusa {

    &.swiper-slide {
      @include touch() {
        width: calc(100% / 1) !important;
      };
      @include widescreen() {
        width: calc(100% / 4) !important;
      };

      @include desktop() {
        width: calc(100% / 4) !important;
      };
    }

		@include touch() {
			width: calc(100% / 1) !important;
		};
		@include widescreen() {
			width: calc(100% / 4) !important;
		};

		@include desktop() {
			width: calc(100% / 6) !important;
		};

		width: calc(100% / 1);

		.card {
			margin-bottom: 1rem;
			margin-right: 1rem;

			@include touch() {
				margin-right: 0rem;
			}
			margin-right: 1rem;
		}
	}
}
