@import "node_modules/bulma/bulma";
@import "../core/_breadcrumb.sass";

body {
	background: rgb(241,241,241);
}

.box-tabs {
	margin-top: 2.5rem;
}

.button-control-detail {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 1rem;
	.love-and-share {

		i {
			
			&:first-child {
				margin-right: 12px;
			}
		}
	}
	.box-add-to-cart {

		button {
			
		}
	}
}
.rating {
	display: flex;
	flex-direction: row;
	p {
		font-size: 0.9rem;
	}
}
.discount-box {
	margin-top: 1.2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.percent-discount {

		p {
			font-weight: bold;
		}
	}
	.harga {
		display: flex;
		flex-direction: column;
		p.normal-price {
			text-decoration: line-through;
			color: rgb(77,77,77);
		}

		p.after-discount {

			// padding-right: 1rem;
			padding-bottom: 0;
			margin-bottom: 0;
			font-weight: bold;
		}
	}
}

.bar-chart {
	display: flex !important;
	width: 100% !important;
}

.main-thumbnail {
	position: relative;

	span.icon {
		position: absolute;
		bottom: 2px;
		left: 5px;
		i {
			color: black;
		}
	}
}
canvas#line-chart {
	display: flex !important;
	width: 100% !important;
}
.rating-text {
	visibility: hidden;
}
