@import "node_modules/bulma/sass/utilities/_all.sass";
@import "~sassComponents/NavbarDesktopDefault";

.control-button-forgot-password {

	display: flex;
	align-items:center;
	button.button-forgot-password {
		font-size: 0.7rem;
		text-decoration: none;
	}
}

.to-register {
	justify-content:center;
	display: flex;
	margin-top: 1.2rem;
	flex-direction: column;
	p, a {
		text-align: center;
	}
  p {
    font-weight: $weight-light;
  }
  a {
    font-size: $size-7 !important;
    font-weight: $weight-semibold;
  }
}
