@import "node_modules/bulma/bulma";
@import "node_modules/notie/src/notie.scss";
@import "~sassComponents/NavbarDesktopDefault";

table {
  margin-top: 1rem;
  thead {
    font-size: $size-6;
  }
  tbody {
    color: $grey;
    font-size: 0.9rem;
  }

  @include touch() {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

.review-details__wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid #fafafa;
  border-radius: 10px;

  .review-user-image__wrapper {
    .user__image {
      width: 75px;
    }
  }

  .review-user-body__wrapper {
    padding: 0 1rem;
    width: 100%;
    .review-user__head{
      display: flex;
      .user-review__info {
        font-size: 0.85rem;
        flex: 0.5;
        display: flex;
        flex-direction: column;
        span.reviewedFromNow {
          font-size: 0.7rem;
          font-style: italic;
        }
      }
      .action__block {
        justify-content: flex-end;
        display: flex;
        flex: 0.5;
      }
    }
    span.review-details__caption {
      font-size: 0.7rem;
      font-style: italic;
      a {
        font-size: 0.85rem !important;
      }
    }
    p.review-details__text {
      padding: 1rem;
      background: #fafafa;
    }
  }
}

// User SHow

.user-informations__body {
  display: flex;
  margin-top: 2rem;
  .user-profie__image {
    img {
      object-fit: scale-down;
      width: 80px;
    }
  }
  .user_informations__right {
    margin-left: 1rem;
  }
}
.user-reviews {
  margin-top: 2rem;
}


// Review.vue
.review__wrapper {
  display: flex;
  flex-wrap: wrap;

  .review-details__wrapper {
    margin-bottom: 1rem;
  }
}
