@import "node_modules/bulma/sass/utilities/_all";

.f_add_product {
  width: 100%;
  display: flex;

  @include touch() {
    flex-direction: column;

    .is-half {
      margin-top: 0.5rem;
    }
  }
}
.upload_label {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  text-decoration: underline;
  cursor: pointer;
  span {
    font-size: $size-7;
  }
  .uploadFile {
    display: none;
  }
}

.field {
  label {
    font-size: $size-7;
  }
}
