@import "../../core/_breadcrumb.sass";
@import "../partials/_navbar.scss";
@import "../../core/_helper.scss";

.container-shipping {
  margin-top: 1rem;
  .shipping-status {
    margin-top: 1.2rem;
    @include desktop() {
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;
    }
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }
  }

}
