.wrapping {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .nusa {

    @include touch() {
      width: calc(100% / 1) !important;
    };
    @include widescreen() {
      width: calc(100% / 3) !important;
    };

    @include desktop() {
      width: calc(100% / 4) !important;
    };

    width: calc(100% / 1);

    .card {
      margin-bottom: 1rem;
      margin-right: 1rem;

      @include touch() {
        margin-right: 0rem;
      }
      margin-right: 1rem;
    }
  }
}
